.cabecalho {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalho-imagem{
    width: 70%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.livraria-imagem{
    width: 30%;
}
.livraria{
    background-image: linear-gradient(#FFFFFF,#FFFFFF) ;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.livraria-conteudo{
    width: 60%
}
body {
    font-family: 'Bitter', serif;  
}
.livros-imagem{
    width: 550px;
}
.livros{
    padding: 24px 0;
    justify-content: center;
    align-items: center;
    }

.rodape{
    background-color: black;
    text-align: center;
    }
    .rodape-imagem{
    height: 60px;
    padding: 12px 0;
    }